#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #222222;
    color: #e6e6e6;
    text-align: center;
}

.own-table {
    width: 50%;
    border: 1px solid black;
}

.own-table td{
    border-right: 1px solid black;
    padding-left: 3px;
}

.own-table-heading {
    background-color: aqua;
}